// abstracts/_colors.scss

$color-primary: #2972FE;
$color-primary-hover: #293DFE;
$color-text-dark: #030E23;
$color-bg-surface: #E4EDFF;
$color-bg-menu-surface: #F7F9FD;
$color-white: #FFFFFF;
$color-gray: #8E9198;
